table,
th,
td {
  border: 1px solid black;
}

#invoice-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightGray;
}

#invoice-table-container {
  margin-top: 10px;
  max-width: max-content;
  max-height: 500px;
  overflow: auto;
}
